    html,
    body {
        height: 100%;
        margin: 0;
        font-family: 'Gafata', sans-serif;
    }

    nav {
        top: 0;
        background-color: #e7e8e6;
        color: white;
        position: fixed;
        width: 100%;
        z-index: 2;
    }

    .mainExam {
        background-color: #FDA8A1;
        padding: 5% 10% 5% 10%;
    }

    .mainExam h1 {
        text-align: center;
        grid-column: 1/-1;
        color: white;
        font-size: 2.3em;

    }


    .logo {
        width: 5em;
        float: left;
        margin: 15px 5px 10px 30px;
    }

    nav a {
        text-decoration: none;
        margin-top: 15px;
        color: grey;
    }

    .active {
        color: black;
    }

    ul {
        list-style: none;
        float: right;
    }

    li {
        display: inline;
        padding: 2em;
    }

    img {
        width: 100%;
    }

    main {
        margin-top: 60px;
        padding-left: 10%;
        padding-right: 10%;
    }

    article {
        padding: 5% 10% 5% 10%;
        color: #95989A;
    }

    article:nth-child(even) {
        background: #fda8a1;
        color: white;
    }


    footer {
        margin-top: 1em;
        background: #e7e8e6;
        height: 2em;
        bottom: 0;
        width: 100%;
    }

    .BigCircles {
        pointer-events: none;
    }

    .examHighText {
        padding: 5% 10% 5% 10%;
        color: #95989A;
    }

    .circleContainer {
        position: relative;
        z-index: 1;
    }

    /* .textSmallerCircle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    */

    .smallerCircle_1 {
        position: absolute;
        top: 20%;
        left: 70%;
        width: 20%;
    }

    .smallerCircle_2 {
        position: absolute;
        top: 75%;
        left: 30%;
        width: 15%;
    }

    .smallerCircle_3 {
        position: absolute;
        top: 65%;
        left: 10%;
        width: 20%;
    }

    .smallerCircle_4 {
        position: absolute;
        top: 70%;
        left: 65%;
        width: 15%;
    }

    .moveCircles {
        width: 100%;
        height: 100%;
    }



    .smallerCircle_2_1 {
        position: absolute;
        top: 50%;
        left: 80%;
        width: 20%;
    }


    .smallerCircle_2_2 {
        position: absolute;
        top: 30%;
        left: 10%;
        width: 15%;
    }

    .smallerCircle_2_3 {
        position: absolute;
        top: 15%;
        left: 20%;
        width: 20%;
    }

    .smallerCircle_2_4 {
        position: absolute;
        top: 70%;
        left: 70%;
        width: 15%;
    }

    .smallerCircle_3-1 {
        position: absolute;
        top: 60%;
        left: 10%;
        width: 15%;
    }

    .smallerCircle_3-2 {
        position: absolute;
        top: 10%;
        left: 60%;
        width: 30%;
    }

    .smallerCircle_3-3 {
        position: absolute;
        top: 15%;
        left: 20%;
        width: 15%;
    }

    .smallerCircle_3-4 {
        position: absolute;
        top: 70%;
        left: 70%;
        width: 15%;
    }

    .smallerCircle_3-5 {
        position: absolute;
        top: 70%;
        left: 20%;
        width: 15%;
    }

    .smallerCircle_4-1 {
        position: absolute;
        top: 10%;
        left: 55%;
        width: 30%;
    }

    .smallerCircle_4-2 {
        position: absolute;
        top: 30%;
        left: 70%;
        width: 30%;
    }

    circle {
        pointer-events: none;
    }

    .textOverCircle {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }

    #container-dots {
        position: relative;
    }


    container {
        position: absolute;
        display: grid;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        grid-template-columns: 1fr 1fr 1fr;
        width: 80%;
        text-align: center;
    }

    container p {
        font-size: 1.3em;
        color: #454545;
    }


    .examBubbles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .bubbleSVG {
        cursor: pointer;
    }

    .middelBubbles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 3;
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.7);
        /* Black w/ opacity */
    }

    .modal h1 {
        background: #FDA8A1;
        margin: 0;
        padding: 2% 4%;
        color: white;
    }

    .modal p {
        padding: 0 4%;
        color: #95989A;
    }

    /* Modal Content */

    .modal-content {
        background-color: #fefefe;
        margin: auto;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */

    .close {
        padding: 1.5% 2%;
        color: white;
        float: right;
        font-size: 35px;
        font-weight: bold;

    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    article h1 {
        margin-top: 4em;
    }

    .examImages {
        cursor: pointer;
    }


    /*       other rules page     */

    #mainRules {
        background: #fda8a1;
        color: white;
        padding: 5% 10% 5% 10%;
    }

    #mainRules h1 {
        text-align: center;
        grid-column: 1/-1;

    }

    .rule-dots {
        font-size: 3em;
        font-family: times new roman, serif;
        text-align: center;
        grid-column: 1/-1;
        margin: 0;
    }

    /*   footer     */

    footer {
        padding: 4%;
        text-align: center;

    }

    footer img {
        width: 2%;
        padding: 0% 2% 0% 2%;
    }


    /*      desktop version       */

    @media only screen and (min-width: 700px) {
        main {
            display: grid;
            grid-template-columns: repeat(4, 1fr)
        }
        .container {
            position: relative;
            z-index: -1;
        }
        section {
            grid-column: 1/5;
        }



        .textOverImage {
            position: absolute;
            top: 60%;
            left: 70%;
            width: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: white;
        }
        .textOverImage p {
            color: white;
        }
    }
