html,
body {
        height: 100%;
        margin: 0;
        font-family: 'Gafata', sans-serif;
        overflow-x: hidden;
    }

/*--------------------------------------------------------------------------------
This is for mobile version
------------------------------------------------------------------------------*/
a
{
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
  position: absolute;
  top: 30%;
  right: 5%;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
    height: 200vw;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;

  background: #FDA8A1;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menu li a{
    display: block;
    padding: 4% 0;
    color: white;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}

.active {
        color: black;
    }







main{
    color: #95989A;
}
.bigNav{
    display: none;
}
.littleNav{
        top: 0;
        background-color: #e7e8e6;
        color: white;
        position: fixed;
        width: 100%;
        z-index: 2;
}

    .mainExam {
        background-color: #FDA8A1;
        padding: 5% 10% 5% 10%;
    }

    .mainExam h1 {
        text-align: center;
        grid-column: 1/-1;
        color: white;
        font-size: 2.3em;

    }


    .logo {
        width: 5em;
        float: left;
        margin: 15px 5px 10px 30px;
    }



    .active {
        color: black;
    }

    ul {
        list-style: none;
        float: right;
    }

    li {
        display: inline;
        padding: 2em;
    }

    img {
        width: 100%;
    }

    main {
        margin-top: 60px;
        padding-left: 10%;
        padding-right: 10%;
    }

    article {
        padding: 5% 10% 5% 10%;
        color: #95989A;
    }

    article:nth-child(even) {
        background: #fda8a1;
        color: white;
    }


    footer {
        margin-top: 1em;
        background: #e7e8e6;
        height: 2em;
        bottom: 0;
        width: 100%;
    }

    .BigCircles {
        pointer-events: none;
    }

    .examHighText {
        padding: 5% 10% 5% 10%;
        color: #95989A;
    }

    .circleContainer {
        position: relative;
        z-index: 1;
    }

    /* .textSmallerCircle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    */

    .smallerCircle_1 {
        position: absolute;
        top: 20%;
        left: 70%;
        width: 20%;
    }

    .smallerCircle_2 {
        position: absolute;
        top: 75%;
        left: 30%;
        width: 15%;
    }

    .smallerCircle_3 {
        position: absolute;
        top: 65%;
        left: 10%;
        width: 20%;
    }

    .smallerCircle_4 {
        position: absolute;
        top: 70%;
        left: 65%;
        width: 15%;
    }




    .smallerCircle_2_1 {
        position: absolute;
        top: 50%;
        left: 80%;
        width: 20%;
    }


    .smallerCircle_2_2 {
        position: absolute;
        top: 30%;
        left: 10%;
        width: 15%;
    }

    .smallerCircle_2_3 {
        position: absolute;
        top: 15%;
        left: 20%;
        width: 20%;
    }

    .smallerCircle_2_4 {
        position: absolute;
        top: 70%;
        left: 70%;
        width: 15%;
    }

    .smallerCircle_3-1 {
        position: absolute;
        top: 60%;
        left: 10%;
        width: 15%;
    }

    .smallerCircle_3-2 {
        position: absolute;
        top: 10%;
        left: 60%;
        width: 30%;
    }

    .smallerCircle_3-3 {
        position: absolute;
        top: 15%;
        left: 20%;
        width: 15%;
    }

    .smallerCircle_3-4 {
        position: absolute;
        top: 70%;
        left: 70%;
        width: 15%;
    }

    .smallerCircle_3-5 {
        position: absolute;
        top: 70%;
        left: 20%;
        width: 15%;
    }

    .smallerCircle_4-1 {
        position: absolute;
        top: 10%;
        left: 55%;
        width: 30%;
    }

    .smallerCircle_4-2 {
        position: absolute;
        top: 30%;
        left: 70%;
        width: 30%;
    }

    circle {
        pointer-events: none;
    }

    .textOverCircle {
        text-align: center;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }

.textOverCircle2{
    color: #95989A;
}

    #container-dots {
        position: relative;
    }


    container {
        position: absolute;
        display: grid;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        grid-template-columns: 1fr 1fr 1fr;
        width: 80%;
        text-align: center;
    }

    container p {
        font-size: 1.3em;
        color: #454545;
    }



    .bubbleSVG {
        cursor: pointer;
    }

    .middelBubbles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 3;
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.7);
        /* Black w/ opacity */
    }

.modal h1{
    background:#FDA8A1;
    margin: 0;
    padding: 2% 4%;
    color: white;
}
.modal p{
    padding: 0 4%;
    color: #95989A;
}

    /* Modal Content */

    .modal-content {
        background-color: #fefefe;
        margin: auto;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */

    .close {
        padding: 1.5% 2%;
        color: white;
        float: right;
        font-size: 35px;
        font-weight: bold;

    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    article h1 {
        margin-top: 4em;
    }

    .examImages {
        cursor: pointer;
    }


    /*       other rules page     */

    #mainRules {
        background: #fda8a1;
        color: white;
        padding: 5% 10% 5% 10%;
    }

    #mainRules h1 {
        text-align: center;
        grid-column: 1/-1;

    }

    .moveCircles {
        width: 80%;
        height: 80%;
    }

/*--------------------------------------------------------------------------------
Tablet Version
------------------------------------------------------------------------------*/

@media (min-width: 530px){
    .bigNav a {
        text-decoration: none;
        margin-top: 15px;
        color: grey;
    }
    .littleNav{
        display: none;
    }
    .bigNav{
        display: block;
        top: 0;
        background-color: #e7e8e6;
        color: white;
        position: fixed;
        width: 100%;
        z-index: 2;
    }



}

/*--------------------------------------------------------------------------------
Desktop Version
------------------------------------------------------------------------------*/

    @media only screen and (min-width: 700px) {
        main {
            display: grid;
            grid-template-columns: repeat(4, 1fr);

        }

        .examBubbles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

        .container {
            position: relative;
            z-index: -1;
        }
        section {
            grid-column: 1/5;
        }



        .textOverImage {
            position: absolute;
            top: 60%;
            left: 70%;
            width: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: white;
        }
        .textOverImage p {
            color: white;
        }
    }
